/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    /*background:     #1E2127FF;*/
    background: #1a1b26;
    /*background-alt: #282B31FF;*/
    background-alt: #24283b;
    foreground:     #FFFFFFFF;
    selected:       #61AFEFFF;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
